@page
@model BloggieToBike.Pages.NewBikeRoutes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewBikeRoute</h4>
<hr />
<div class="row">
    <div class="col-md-4 p-lg-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewBikeRoute.Name" class="control-label"></label>
                <input asp-for="NewBikeRoute.Name" class="form-control" />
                <span asp-validation-for="NewBikeRoute.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBikeRoute.Direction" class="control-label"></label>
                <input asp-for="NewBikeRoute.Direction" class="form-control" />
                <span asp-validation-for="NewBikeRoute.Direction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBikeRoute.Length" class="control-label"></label>
                <input asp-for="NewBikeRoute.Length" class="form-control" />
                <span asp-validation-for="NewBikeRoute.Length" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="NewBikeRoutesIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
